services:
  be1:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - backend=be1
    ports:
      - "8081:80"

  be2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - backend=be2
    ports:
      - "8082:80"

  be3:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - backend=be3
    ports:
      - "8083:80"

  rplb:
    build:
      context: ../
      dockerfile: Dockerfile
    depends_on:
      - be1
      - be2
      - be3
    environment:
      - FE=localhost,example
      - BE=example,http://host.docker.internal:8081,example,http://host.docker.internal:8082,example,http://host.docker.internal:8083
    ports:
      - "8080:8080"
      - "8000:8000"
