<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPLB</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
    <div class="container">
        <nav class="left-container">
            <div class="logo-container">
                <a class="clean-link" href="/">RPLB</a>
            </div>
            <div class="left-menu">
                <ul>
                    <li><a class='clean-link{{ menuSelected .SelectedMenu "monitor" }}' href="/monitor">Monitor</a></li>
                    <li><a class='clean-link{{ menuSelected .SelectedMenu "traffic" }}' href="/traffic">Traffic</a></li>
                </ul>
            </div>
            <div class="footer">
                <div>
                    started {{ printSince }}
                </div>
                {{if .Version}}
                <div>
                    version {{ .Version }}
                </div>
                {{end}}
            </div>
        </nav>

        <main>
            <div class="content">
                {{block "content" .}}
                {{end}}
            </div>
        </main>
    </div>

    <script src="assets/script.js"></script>
</body>
</html>
