{{template "index.html" .}}

{{define "content"}}
    {{if not .Backends}}
        <div class="monitor-container">
            <p>No backends configured</p>
        </div>
    {{else}}
        {{range $key, $value := .Backends}}
        <div class="monitor-container">
            <div class="monitor-header">{{$key}}</div>

            <div class="monitor-group">
                <div>
                    {{range $value}}
                    <div class="monitor" name="{{.Name}}">
                        <div class="monitor-name">{{.Url}}</div>
                        <div class="monitor-latency">Latency: <span name="{{.Name}}latency">unavailable</span></div>
                        <div class="monitor-grid">
                            {{range .Monitor}}
                            {{if .Live}}
                                <div class="latency-cell latency-{{.ColorCode}}" title="{{.Latency}}"></div>
                            {{else}}
                                <div class="latency-cell latency-0" title="unavailable"></div>
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>

        </div>
        {{end}}
    {{end}}
{{end}}
